<%- include('header') -%>
	<%- content %>
	<%= Math.random() %>
	<div id="root"></div>
	Templates frameworks: 
	<ul>
		<li>Koajs</li>
		<li>hapi</li>
		<li>pug.js</li>
		<li>Handlebars </li>
	</ul>
<%- include('footer') -%>